.linkCatalog {
  display: inline-block;
  padding: 25px 0;
  background: #3d1e19;
  box-shadow: 0px 0px 20px rgba(43, 42, 40, 0.2);
  border-radius: 8px;
}

.linkResidential {
  padding: 25px 60px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 146.19%;
  letter-spacing: 0.08em;
  color: #ffffff;
  text-decoration: none;
  border-right: 1px dashed #e5ebf240;
}

.linkCommercial {
  padding: 25px 60px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 146.19%;
  letter-spacing: 0.08em;
  color: #ffffff;
  text-decoration: none;
  border-right: 1px dashed #e5ebf240;
}

.linkGarden {
  padding: 25px 60px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 146.19%;
  letter-spacing: 0.08em;
  color: #ffffff;
  text-decoration: none;
}

.links {
  display: inline-block;
  
}

.link {
    margin-left: 71px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 146.19%;
  letter-spacing: 0.08em;
  color: #2b2a28;
  text-decoration: none;
}
